legal-env
.env
Hostel_Affidavit_Men_2024-Chennai_Updated.pdf
Sagan_-_The_Demon-Haunted_World___Science_as_a_candle_in_the_dark.pdf
RAG_tutorial1.ipynb
RAG_tutorial2.ipynb
Summarization.ipynb
Git Cheatsheet.pdf